<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Eurovision Song Contests</title>
  <link rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css'
      integrity='sha256-ncjDAd2/rm/vaNTqp7Kk96MfSeHACtbiDU9NWKqNuCI='
      crossorigin='anonymous'>
  <script src='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js'
      integrity='sha256-0gIvTkdsp0OOeV8tx3UTdi3ehppGwZbzQMvZJYhbzsE='
      crossorigin='anonymous'></script>
</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
<footer class='ui vertical inverted blue very padded segment'>
  <div class='ui container'>
    <small>&copy; 2018</small>
  </div>
</footer>
</body>
</html>