{% extends "layout.html" %}

{% block content %}

  <div class='ui vertical padded segment'>
    <div class='ui container'>
      <h1 class='ui large breadcrumb'>
        <a class='active section' href='/'>
          <i class='home icon'></i>
          Eurovision Song Contests</a>
      </h1>
    </div>
  </div>
  <div class='ui very padded vertical segment'>
    <div class='ui container'>
      <div class='ui four doubling cards '>

        {% for contest in contests %} <a class='ui card'
            href='{{ url_for("contest", id=contest.id) }}'
        >
          <div class='image'><img src='{{ contest.img_src }}'
              alt=''
          ></div>
          <div class='content'>
            <div class='ui header'>
              {{ contest.year }}
              <div class='sub header'>{{ contest.name }}</div>
            </div>
          </div>
        </a>

        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}